body {
    padding: 0;
    margin: 0 auto;
    background-color:white;
    width: 1200px;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

div, p, a, input, ::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
}

#message {
    overflow-y: scroll;
    background-color: whitesmoke;
    height: 90vh;
    border: 0.5px solid black;
    box-sizing: border-box;
}

.header {
    background-color: rgb(179 184 186);
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px black;
}

.header-name {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bolder;
}

.flex-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.name {
    max-width: 100%;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    line-height: 25px;
    font-size: 13px;
}

.text {
    max-width: 800px;
    background-color: rgb(137 187 255);
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 0 15px;
    color: white;
    box-shadow: 3px 3px 5px steelblue;
    word-wrap: break-word;
}

.time {
    max-width: 100%;
    padding: 5px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    line-height: 20px;
    font-size: 10px;
}

.margin-top {
    margin-top: 5px;
}

.window {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border-radius: 10px;
}

.sendmessage {
    background-color: rgba(128, 128, 128, 0.34);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us {
    color: rgb(160,160,160);
    opacity: 0.8;
}

.send {
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: 35px;
    padding: 8px;
    background-color: white;
    border: none;
    cursor: pointer;
    height: 35px;
    background-color: rgb(128 128 128 / 0%);
}

.send-pic {
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1px;
    transition: all 0.3s;
}

.send-pic:hover {
    transform: scale(1.3);
    transition: all 0.3s;
}

#usertext {
    width: 400px;
    padding: 10px;
    border: none;
    box-shadow: 1px 2px 5px grey;
}

.left {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.6s;
}

.right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.6s;
}
.gog{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.logopng {
    width: 40px;
}

.burger {
    width: 30px;
    background-size: cover;
    margin-left: 10px;
    cursor: pointer;
}

.menu {
    width: 25px;
    background-size: cover;
    margin-left: 10px;
    cursor: pointer;
}

.menu-window {
    border-radius: 0px 20px 20px 20px;
    border: 1px solid black;
    position: absolute;
    width: 230px;
    background-color: white;
    height: 80vh;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.6s;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    width: 150px;
    background-size: cover;
    margin-left: 50px;
    cursor: pointer;
    display: flex;
}

input {
    outline: none;
}

.name-menu {
    max-width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin-top: 20px;
}

.status {
    max-width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
}